RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^([a-z\-]+)/?$ index.php?page=$1 [NC,L]
RewriteRule ^([a-z\-]+)/(edit|insert|del)/?$ index.php?page=$1&action=$2 [NC,L]
RewriteRule ^([a-z\-]+)/(edit|insert|del)/([0-9]+)?$ index.php?page=$1&action=$2&id=$3 [NC,L]
